.newGame {
	height: 300px;
	width: 60%;
	text-align: center;	
	margin:  auto;
	margin-top:  10%;
	background:#F5F5F5;
	border-radius: 30px;
}
#joinGame{
	height: 230px;
	overflow:scroll;
}

#newGame button ,.joinGame button{
	height: 35px;
    width: 180px;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(65, 65, 65);
    margin-top: 2%;
    background-color: silver;
}
.joinGame button{
	height: 30px;
	width: 100px;
}
.mainContent{
	width: 100%;
	height: 600px;
}

#newGame button:hover, .joinGame button:hover{
	background-color: #ECECEC;
}
.gameIdAndHostName,.inputSubmit{
	display: inline-block;
	text-align: left;
	margin-top: 1%;
}
.gameIdAndHostName{
	width: 45%;
}
.inputSubmit{
	width: 12%;
}