.header{
	font-size:50px;
	text-align: center;
	color: black;
	position: relative;
	background: #939393;
}
.newGame {
	height: 300px;
	width: 60%;
	font-family: sans-serif;
	text-align: center;	
	margin:  auto;
	margin-top:  10%;
	background:rgba(192,192,192, .18);
	border-radius: 30px;
}
#joinGame{
	height: 230px;
	overflow:scroll;
}

p{
	font-family: sans-serif;
	font-size: 5mm;
	font-weight: 100;
}

#newGame button ,.joinGame button{
	height: 40px;
	margin: 1% 0 1% 0;
	font-family: sans-serif;
	border-radius: 10mm;
	font-size:4.8mm;
	color: black;
	background-color: silver;
}

.joinGame button{
	height: 30px;
	width: 100px;
}

#newGame button:hover, .joinGame button:hover{
	background-color: #ECECEC;
}