.mainContent {
    height: 760px;
    width: 100%
}

.message {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-weight: 200;
    font-size: 28px;
    color: green;
}

.game_screen {
    width: 100%;
    margin: auto;
}

.game_screen .oceanGrid {
    display: inline-block;
    float: left;
    width: 20%;
    height: 650px;
    margin: 2% 0 0 12%;
    text-align: left;
}
.oceanGridTable{
    margin: 0 0 15% 10%;
}
.game_screen .targetGrid {
    width: 40%;
    float: left;
    margin: 1% 0 0 0;
    display: inline-block;
}
.oceanGrid p {
    font-size: 24px;
    padding-left: 25%;
}

table td,
div {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: gray;
    text-align: left;
    margin: 0 0 2% 40%;
}


.oceanGridTable .grid {
    width: 15px;
    height: 15px;
    background-color: #E9E9E9;
    border-color: white;
}

.targetGridTable .grid {
    width: 60px;
    height: 60px;
    background-color: #E9E9E9;
    border-color: white;
}

.oceanGridTable .th {
    vertical-align: middle;
    font-size: 8px;
    color: #939393;
}

.targetGridTable .th {
    vertical-align: middle;
    font-size: 12px;
    color: #939393;
}

.hover:hover {
    opacity: .4;
}

.restartOrQuit {
    margin: 2% 0 0 33%;
}

.restartOrQuit button {
    float: left;
    margin: 0 0 0 10%;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    background: #E9E9E9;
}

.game_screen>.gameStatus {
    font-size: 28px;
    margin: 5% 0 0 0;
    color: rgba(53, 53, 51, 0.64);
}
.ship_info{
    width: 200px;
    height: 250px;
    float: left;
    margin: 3.8% 0 0 2%;
}

.ship_info th{
    font-size: 20px;
    font-weight: bolder;
    width: 100px;
    text-align: left;
    background-color: rgba(233, 233, 233, 0.7);
    color: rgba(102, 102, 102, 1);
    padding-left: 10px;
    font-weight: normal;
}

.ship_info td{
    width: 100px;
    height: 45px;
    vertical-align: middle;
    font-size: 18px;
}

.ship_info td:nth-child(1){
    padding-left: 10px;
    text-align: left;
}


.targetGridTable .hit,
.oceanGridTable .hit {
    background: #EE9090;
}

.targetGridTable .miss,
.oceanGridTable .miss {
    background: #9090EE;
}

.alive {
    background-color: rgba(233, 233, 233, 0.32);
}

.sunk {
    background-color: rgba(238, 144, 144, 0.37);
}
