#container {
    background-color: white;
    width: auto;
    height: 320px;
}
.mainContent{
    height: 764px;
    width: 100%
}


table td,div {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}


h2 {
    font-size: 24px;
    margin: 0px 0px 15px 0px;
}

#info_board {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.game_screen #ocean_grid,
.game_screen #target_grid {
    float: left;
    margin: 2% 0 0 5%;
}

#oceanGrid,
#targetGrid {
    width: 495px;
    height: 495px;
    border: 1;
}

.grid {
    width: 45px;
    height: 45px;
    background-color: #E9E9E9;
    border-color: white;
}

.th {
    vertical-align: middle;
    font-size: 12px;
    color: #939393;
}

.hover:hover {
    opacity: .4;
}

.message {
    font-weight: 100;
    font-size: 28px;
    color: green;
}

.restartOrQuit {
    margin: 2% 0 0 33%;
}

.restartOrQuit button {
    float: left;
    margin: 0 0 0 10%;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    background: #E9E9E9;
}

.game_screen>.gameStatus {
    font-size: 28px;
    margin: 5% 0 0 0;
    color: rgba(53, 53, 51, 0.64);
}

.ship_info th,
.indications th {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    padding-left: 10px;
}

.ship_info td,
.indications td {
    width: 150px;
    height: 45px;
    vertical-align: middle;
    font-size: 18px;
}

.ship_info td:nth-child(1),
.indications td:nth-child(1) {
    padding-left: 10px;
    text-align: left;
}

.ship_info,
.indications {
    width: 250px;
    height: 250px;
    float: left;
    margin: 3.8% 0 0 5%;
}

.hit {
    background: #EE9090;
}

.miss {
    background: #9090EE;
}

.alive {
    background-color: rgba(144, 238, 144, 0.38);
}

.sunk {
    background-color: rgba(238, 144, 144, 0.37);
}
