.dropmenu{
  width: 10px;
  float:right;
  margin-right: 100px;
}
ul#drop-nav li{
  color: #000000;
}
#drop-nav li a{
  color: black;
}

ul#drop-nav li {
  float :right;
  position: relative;
  padding: 12px;
  background: #939393;
}
ul li ul {
  position: absolute;
  top: 48px;
  visibility: hidden;
}
ul li ul li { 
  display: block; 
  width: 100px;
}
ul#drop-nav li ul li:hover { background: #E6E3E3; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

ul{
  list-style-type:none; 
}