body {
	background-image: url("../image/battleship.png");
}
h1{
	font-size:50px;
	text-align: center;
	color: goldenrod;
	position: relative;
	margin-top: 35px;
}
#input {
	text-align: center;
	margin-top: 300px;
}
#input>form> button {
	height:8mm;
	width:20mm;
	border-radius: 10mm;
	font-size:5mm;
	color: black;
}
#input>form>input {
	height:30px;
	width:200px;
	font-size:18px
}