body {
	background-image: url("../image/ship.svg");
}
.header{
	font-size:50px;
	text-align: center;
	color: black;
	position: relative;
	background: #939393;
	/*margin-top: 35px;*/
}
#input {
	width: 400px;
	height: 200px;
	text-align: center;
	margin: 15% 0 0 35%;
	background:rgba(192,192,192, .38);
	border-radius: 30px;
}
#input>form{
	padding: 20% 0 0 0;
}
#input>form> button {
	height:8mm;
	width:20mm;
	border-radius: 10mm;
	font-size:5mm;
	color: black;
	background-color: silver;
}
#input>form>input {
	height:30px;
	width:200px;
	font-size:18px
}
