
body{
	background-color: gray;
}
#header{
	font-size: 40px;
	text-align: center;
	height: auto;
}
h2{
	font-size: 20px;
	text-align: center;
}

#game_screen{
	width: 99%;
	height: 650px;
	margin:0 0 0 0;
	border-width:5px;	
	border-style:dotted solid;
}
#ocean_grid {
	float: left;
	margin: 200px 50px 0 30px;
}
#target_grid{
	float: left;
	margin: 200px 50px 0 0;
}
#game_screen>#ocean_grid>table td{
	width: 40px;
	height: 40px;
	background-color: lightgray;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
}
#game_screen>#target_grid>table td{
	width: 40px;
	height: 40px;
	background-color: steelblue;
}
#game_screen table td> button{
	width: 40px;
	height: 40px;
	background-color: lightgray;
}
#game_screen>#target_grid>table td>button:hover{
	background-color: green;
}
#harbor{
	width: 25%;
	height: 650px;
	float: right;
	font-size: 24px;
	display: inline-block;
	background:rgba(100,100,100, 0.5);
}
