.message,.joinGame{
	text-align: center;
	font-size: 24px;
	margin: 10% 0 0 0;
	text-transform: uppercase;
}
input{
	text-align: center;
	font-size: 24px;
	height: 24px;	
}
button{
	text-align: center;
	font-size: 24px;
	height: 30px;
	margin: 0 0 0 20px;
	text-transform: uppercase;
}